/* body{
  /* background-color: aqua; */
/* } */ 
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}  
/* shared style */
#about ,#skills , #resume{
   padding-top: 130px;
 } 
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}  
.btn{
  background-color: #FD6E0A;
  padding: 18p  35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
header{
   /* padding top: 50px; */
  background-color: #FFF8F3;
  padding-top: 50px;
  background: url("../images/developer.png") ,url("../images/header_bg.png"),#FFF8F3;
    background-repeat:no-repeat;
    background-position: 23px 38px, bottom right;
} 
.logo h2{

  font-size: 45px;
}
.color-orange {
  color: #FD6E0A;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.text-center{
  text-align: center;
}

/* main style */
nav{
    width:71%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
     text-align: center;

}
.menu li a{
  display: flex;
 
} 
nav .menu{
  display: flex;
  list-style: none;
  gap: 51px; 
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  font-size: 20px;
  color:#474747;
} 
#banner{
  /* border: 1px solid black; */
  margin :47px 38px 0px 230px;
  display: flex;
  justify-content:space-between;
  align-items: center;
} 
#banner .banner-content
{
  max-width: 585px;
}
#banner .banner-content h2 {
      font-size: 45px;
      font-weight: 600px;
      color:#474747;
      margin-bottom: 5px;

}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 22px;
  color:#000000;
  line-height: 30px;
} 
#banner .banner-content p{
  font-size: 18px;
  line-height: 30px;
  color:#757575;
margin-bottom: 33px;
} 
#banner .banner-content img{
    max-width: 587px;
    vertical-align: center;
} 
.section-heading{
  max-width: 827px;
  text-align: center;
margin: 0 auto;
}
 #about  .about-container{
  max-width: 1140px;
  width: 71%;
  margin: 0 auto;
  text-align: center;
  padding: 131px 156px;
  background-color:#FFF8F3 ;
 } 
 #about .about-container .about-info{
  display: flex;
  justify-content: space-around;
 } 
 #about .about-container .info-card{
      font-size: 20px;
      line-height: 30px;
      color: #757575;
 } 
 #about .about-container h4{
  font-size: 20px;
  color:#474747;
  line-height: 30px; 
 }
/*  */
 #skills .section-container
 {
    max-width: 1140px;
    width:71%;
    margin:0 auto;
 } 
#skills .section-container .skill-box{
  display: flex;
   gap:24px;
} 
.skill-box  .skill-card{
  max-width: 267px;
  border: 1px solid red;
  padding:30px;
  box-shadow: 0px 6px 50px 0px #0000006f;
} 
.skill-card img{
  max-width: 44px;
  margin-bottom: 30px;
} 
.skill-card h4{
  font-size: 20px;
  color:#181818;
  margin-bottom: 20px;

}
.skill-card p{
  line-height: 28px;
  color:#757575;
  font-size: 16px;
}
#resume .resume-container{
  width: 71%;
  max-width: 1140px;
  margin:113px auto 0px;
  display: flex;
  gap:24px;

} 
.resume-container .section-title{
  font-size: 30px;
  color:#474747;
  margin-bottom: 30px;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;
} 
.resume-card .card-title{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
} 
.resume-card .card-info{
  font-size: 20px;
  font-weight: 600px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-card .card-info{
  font-size: 16px;
 line-height: 28px;
  color: #757575;
}  
.resume-container hr{
  margin: 30px 0;
} 
footer{
  margin top:130px;
  background-color:#FFF8F3;
  padding:130px 0;

}
footer .footer-container{
  max-width: 1140px;
  width:71%;
  margin:0 auto;
  display: flex;
  gap:117px;
} 
.footer-container .social{
  max-width: 562px;

} 
.footer-container h2{
  color:#181818;
  font-size: 35px;
  font-weight:bold ;
  margin-bottom: 20px;
}
.footer-container .social  p
{
    max-width: 562px;
    line-height: 28px;
    font-size: 16px;
    color:#474747;
    margin-bottom: 30px;
} 
.footer-container  .icons a{
  margin-right: 24px;

} 
.footer-container  form input[type="text"] ,.footer-container  form input[type="email"]
{
  color:#757575;
  margin-bottom: 24px;
  border-radius: 5px;
  border: none;
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
}