/* body{
  /* background-color: aqua; */
/* } */ 
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}  
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}  
.btn{
  background-color: #FD6E0A;
  padding: 18p  35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
header{
   /* padding top: 50px; */
  background-color: #FFF8F3;
  padding-top: 50px;
  background: url("../images/developer.png") ,url("../images/header_bg.png"),#FFF8F3;
    background-repeat:no-repeat;
    background-position: top left,bottom right;
} 
.logo h2{

  font-size: 45px;
}
.color-orange {
  color: #FD6E0A;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}

/* main style */
nav{
    width:71%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
     text-align: center;

}
.menu li a{
  display: flex;
 
} 
nav .menu{
  display: flex;
  list-style: none;
  gap: 51px; 
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  font-size: 20px;
  color:#474747;
} 
#banner{
  /* border: 1px solid black; */
  margin :47px 38px 0px 230px;
  display: flex;
  justify-content:space-between;
  align-items: center;
} 
#banner .banner-content
{
  max-width: 585px;
}
#banner .banner-content h2 {
      font-size: 45px;
      font-weight: 600px;
      color:#474747;
      margin-bottom: 5px;

}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 22px;
  color:#000000;
  line-height: 30px;
} 
#banner .banner-content p{
  font-size: 18px;
  line-height: 30px;
  color:#757575;
margin-bottom: 33px;
} 
#banner .banner-content img{
    max-width: 587px;
    vertical-align: center;
} 
.section-heading{
  max-width: 827px;
  text-align: center;

}
 #about  .about-container{
  max-width: 1140px;
  width: 71%;
  margin: 0 auto;
  text-align: center;
  padding: 131px 156px;
  background-color:#FFF8F3 ;
 } 
 #about .about-container .about-info{
  display: flex;
  justify-content: space-around;
 } 
 #about .about-container .info-card{
      font-size: 20px;
      line-height: 30px;
      color: #757575;
 }